@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
:root{
    --pmcolor : #368836;
    --black : #192a56;
    --pm-color: #666;
    --white : #ffffff;
    --box-shadow: 2px 4px 10px grey;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html,body{
    font-size: 90%;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background-color: #eee;
}
.btn{
    color: var(--white);
    background-color: var(--black);
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    display: inline-block;
}
.btn:hover{
    background-color: var(--pmcolor);
    letter-spacing: .1rem;
}
.card-btn{
    color: var(--white);
    background-color: var(--black);
    font-size: 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem 1rem;
    display: inline-block;
}
.card-btn:hover{
    background-color: var(--pmcolor);
}

img {
    width: 100%;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
/*==================================
            Header Area
==================================*/
header{
   background-color: var(--white) ;
   padding: 1rem 7%;
   z-index: 1000;
   scroll-padding-top: 5.5rem;
   overflow-x: hidden;
   box-shadow: var(--box-shadow);
}
.navbar{
    justify-content: space-between;
    display: flex;
    padding: 10px;
    align-items: center;
}
#header-area .logo a{
    color: var(--black);
    font-size: 3.5em;
    font-weight: 600;
}
#header-area .logo a i{
    color: var(--pmcolor);
}
.navbar .menu{
    align-items: center;
    justify-content: space-between;
}
.menu.active {
    z-index: 100;
}
.navbar .menu ul{
    margin: 0 10px;
}
.navbar .menu ul li{
    list-style: none;
    display: inline-block;
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
}
.navbar .menu ul li:hover{
    background-color: var(--pmcolor);
}
.navbar .menu ul li a{
    color: var(--pm-color);
}
.navbar .menu ul li:hover a{
    color: var(--white);
}

.icons i,.icons a{
    cursor: pointer;
    margin-left: .5rem;
    padding: 10px;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    background-color: #eee;
    transition: 1s;
}
.icons i:hover,.icons a:hover{
    color: var(--white);
    background-color: var(--pmcolor);
    rotate: 360deg;
}
#menu-bars{
    display: none;
}

/*============================
   Slider Area
=============================*/

#slider-area .main-slide .slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding-top: 4rem;
}
#slider-area .main-slide .slide .content{

}
#slider-area .main-slide .slide .content span{
    font-size: 2.5rem;
    color: var(--pmcolor);
}
#slider-area .main-slide .slide .content h3{
    font-size: 7rem;
    color: var(--black);
    margin-top: 2px;
}
#slider-area .main-slide .slide .content p{
    font-size: 2.2rem;
    color: var(--pm-color);
    line-height: 1.5;
    margin-bottom: 1rem;
}

#slider-area .main-slide .slide .img img{
    max-width: 100%;
    padding: 1rem;
}
.swiper-pagination-bullet-active{
    background-color: var(--pmcolor) !important;
}
/*================================
    Our Product Section
==================================*/
.sub-heading{
    text-align: center;
    color: var(--pmcolor);
    font-size: 2rem;
    padding-top: 1rem;
}
.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
.product .box{
    background-color: #eee;
    padding: 2.5rem;
    border-radius: .5rem;
}
.box{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
 .box .fa-heart,
 .box .fa-eye{
    text-align: center;
    top:1.5rem;
    background-color:#fff;
    border-radius: 50%;
    height: 4rem;
    width:4rem;
    line-height:4rem;
    font-size: 2rem;
    color:var(--black);
}

.box .fa-heart:hover,
.box .fa-eye:hover{
    background-color: var(--pmcolor);
    color:#fff;
}
.box img{
    margin:1rem 0;
}

.box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.box .stars{
    padding:1rem 0;
}

 .box .stars i{
    font-size: 1.7rem;
    color:var(--pmcolor);
}

 .box span{
    color:var(--pmcolor);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}





/*==============================
            Responsive
==============================*/
@media (max-width:1200px) {
    .product{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media (max-width:940px) {
    #slider-area .main-slide .slide{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding-top: 2rem;
    }
    .product{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:850px) {
    header{
        padding: 1rem 2rem;
     }
}
@media (max-width:768px) {
    #menu-bars{
        display: inline-block;
    }
    .menu{
        position: absolute;
        top: 9rem;
        left: 0;
        right: 0;
        background: var(--white);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .menu.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .navbar .menu ul li{
        display: block;
        padding: 1.5rem;
        margin: 1rem 0;
        font-size: 2rem;
        background-color: #eee;
    }
    .navbar .menu ul li:hover{
        color: var(--white);
        background-color: var(--pmcolor);
    }
    #slider-area .main-slide .slide .content span{
        font-size: 2.0rem;
    }
    #slider-area .main-slide .slide .content h3{
        font-size: 5rem;
    }
    #slider-area .main-slide .slide .content p{
        font-size: 1.7rem;
    }

}
@media (max-width:540px) {
    html,body{
        font-size: 50%;
    }
    .icons i,.icons a{
        margin-left: .3rem;
        padding: 5px;
        border-radius: 50%;
        font-size: 1.5rem;
    }
    .product{
        grid-template-columns: 1fr;
    }
}

